@import url("<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Sedgwick+Ave+Display&display=swap"
 rel="stylesheet">);




*{
    margin: 0%; padding: 0%;
}
.imagem{
  position: relative;
  display: inline-block;
}


.imagem,img {
  width: 100%;
  height: auto;
  display: block;
}


.texto{
  position: absolute;
  top: 20%; /* posição vertical */
  left: 75%; /* posição horizontal */
  transform: translate(-50%, -50%); /* centraliza o texto */
  color: white; /* cor do texto */
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 5px black; /* sombra para melhor leitura */
}
.subtexto{
   position: absolute;
  top: 49%; /* posição vertical */
  left: 75%; /* posição horizontal */
  transform: translate(-50%, -50%); /* centraliza o texto */
  color: white; /* cor do texto */
  font-size: 24px;
  font-weight: bold;
 


}
.textinho{position: absolute;
  top: 70%; /* posição vertical */
  left: 75%; /* posição horizontal */
  transform: translate(-50%, -50%); /* centraliza o texto */
  color: red; /* cor do texto */
  font-size: 24px;
  font-weight: bold;
   text-align: center;
}
body{
    background-color:#FFF;
 }
 
 header,{




    width:100%;
    height: 100%;
 }
 nav{
   background-color: #FFF;
   text-align:right;
   padding: 20px;
   


 }
 a{color: black;
    font: 2rem "Sedgwick Ave Display","Livvic";
    text-decoration: none;
   
   


 }




 article{
   width: 100%;
   padding: 20px;
   box-sizing: border-box;


 }


 h1{
 
    font-family: "Sedgwick Ave Display", system-ui;
    font-weight: 400;
  font-style: normal;
    font-size: 4rem;
    color:black;
    text-align: center;
    padding: 40px;
    margin-bottom: 90px;
    margin: 30px;
 }
 p{
    font: 2rem "Lusitana", "Livvic";
    color:rgb(130, 139, 89);
    font-weight: 400;
    text-align: justify;
    margin-bottom: 20px;
   text-indent: 20px;
   line-height: 40px;
 }
 #text-preto{
   color: black
 }


 section{
   font: 1rem "Lusitana", "Livvic";
   background-color: black;
   padding: 5px;
   text-align:center;
   
 }


h2{
   color: #FFF;
   width: 100%;
}
ul{
   margin-left: 40px;
   font: 2rem "Lusitana", sans-serif;
   margin-top: 30px;
}


#container{
  display: flex;




 }
 .CARD{
background-color: burlywood;
  margin: 10px;
  display: flex;
 
 }
h3{
   font: 2rem "Lusitana", sans-serif;
   color: black;
   
}
